* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  text-decoration-line: none;

  user-select: none;

  /* display: grid;  */
  /* ------- 1 d */
}

body {
  width: 100%;
  /* display: inline; */
}

/*    background-color: rgb(117, 160, 255); */

/* --- Header -------------------------------------------------------------- */

.header {
  background-color: rgb(47, 109, 245);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 100;

  /* display: block; */
  /* --------- 2 d */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header .nav {
  padding: 15px 0px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header .nav .logo a {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.header .nav .logo a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: 0.1s ease-in;
}

.header .nav ol {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header .nav ol li {
  color: white;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

.header .nav ol li:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: 0.2s ease-in;
}

/* --- Main -------------------------------------------------------------- */

.main .intro-section {
  /* background-image: url(./img/cv6fwak8pmx51.jpg); */
  background-image: url(./img/gif/d404a5024bfac366790c5ba8bc9482d6.gif);
  height: 850px;
  width: 100%;
  display: grid;
  color: rgb(255, 255, 255);
  /* color: rgb(0, 0, 255); */
  font-size: 30px;
  place-items: center;
  text-align: center;
}

/*  */

.main .intro-section .pulsate-bck {
  font-size: 25px;
  background-color: rgb(47, 109, 245);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  /* height: 50px; */
  padding: 14px 25px;
  margin-top: -100px;
  margin-bottom: 20px;

  -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}

.main .intro-section .pulsate-bck:hover {
  background-color: rgb(86, 109, 158);
}

@-webkit-keyframes pulsate-bck {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes pulsate-bck {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/*  */

.main .intro-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main .intro-section h1 {
  font-size: 96px;
}

.main .intro-section h3 {
  font-size: 32px;
}

.main .intro-section {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* --- */

.main .about-section {
  padding-top: 50px;
  background-color: rgb(47, 109, 245);

}

.main .about-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

.main .about-section .container .bea-img {
  margin-top: -400px;
  position: relative;
  top: 400px;
}

/*  */

.main .about-man .container {
  width: 100%;
}

.main .about-man div div img {
  width: 200px;
  border: 1px solid;
}

.main .about-man div div p {
  font-size: 14px;
  margin: 10px;
  text-align: justify;
}

.about-man {
  position: relative;
  padding-top: 500px;
  display: grid;
  place-items: center;
  gap: 50px;
  text-align: center;
  margin-bottom: 50px;
  color: rgb(1, 54, 168);
  max-width: 100%;


  /* justify-content: end; */

}

/* --- Footer -------------------------------------------------------------- */

.footer .footer-upper {
  background-color: rgb(47, 109, 245);
  padding: 20px;
}

.footer .footer-upper p {
  justify-content: center;
  display: grid;

  margin-bottom: 25px;
  color: white;
  font-size: 19px;
}

.footer .footer-upper .container {
  display: flex;
  color: white;
  justify-content: space-evenly;
}

.footer .footer-upper .container h4 {
  /* padding-bottom: 10px; */
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.footer .footer-upper .container .footer-links ol li {
  /* padding-bottom: 10px; */
  /* border-bottom: 2px solid white; */
  /* margin-bottom: 10px; */
  color: white;
  display: inline;

  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

.footer .footer-upper .container .footer-links ol li:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: 0.2s ease-in;
}

/* --- */

.footer .footer-lower {
  background-color: rgb(28, 90, 223);
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
}